<!-- Vista para un nuevo post-->
<div id="newTitulo"></div>
<div id="newDescripcion"></div>
<div id="newProyecto"></div>
<div id="newRespuesta"></div>

<div id="botonera">
	<div id="aceptar">aca va el boton aceptar</div>
	<div id ="cancelar"></div>
</div>


{{input type="button" action="save" value="Ir a proyectos"}}