<!-- Nuevo post posts/new
Model: models/post.js
titulo: DS.attr('string'),
	descripcion: DS.attr('string'),
	proyecto: DS.belongsTo('proyecto'),
	respuesta: DS.attr('string'),
	fxAlta: DS.attr('date', {
   		defaultValue() { return new Date(); }
  	}),
	fxCompletado: DS.attr('date')-->

<div class="ui form">
  <div class="fields">
    <div class="field">
      <label>Titulo</label>
      <input placeholder="Titulo" type="text">
    </div>
    <div class="field">
      <label>descripcion</label>
      <input placeholder="descripcion" type="text">
    </div>
    <div class="field">
      <label>proyecto</label>
      <input placeholder="proyecto" type="combo">
    </div>
    <div class="field">
      <label>respuesta</label>
      <input placeholder="respuesta" type="text">
    </div>
    <div class="field">
      <label>fxAlta</label>
      <input placeholder="fxAlta" type="date">
    </div>
  </div>
</div>

<div id="botonera">
        {{input type="button" enter="save" class="ui button" value=model}} 
    {{#link-to 'posts'}}
        {{input type="button" class="ui button" value="cancel"}} 
    {{/link-to}}
<br />    
    {{#link-to 'proyectos'}}
        {{input type="button" class="ui button" value="Ir a Proyectos"}} 
    {{/link-to}}    
</div>
