<h1>PROYECTOS INDEX</h1>
<ul>
	{{#each model as |proyecto|}}
		<li>
			<h5>{{proyecto.nombre}}</h5>
		</li>
	{{/each}}	
</ul>

{{#link-to 'posts.index' class="ui button" }}
    Ver Posts
{{/link-to}}
 